.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top */
}

.modal-content {
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    background-color: #fff;
    opacity: .7;
    padding: 20px;
    border-radius: 8px;
    width: 370px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.column-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hidden {
    display: none;
}

.modal-content button {
    padding: 5px;
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 4px;
}

.modal-content .column {
    margin: 0 auto;
    box-sizing: border-box;
}

.modal-content h2 {
    margin: 10px;
    text-align: center;
}

.modal-body .center {
    text-align: center;
}
